{% extends 'base.html' %} {% block content %}

<h1 class="detail-h1">Caffè Details</h1>

<div class="detail-div">
  <div class="detail-card">
    <div class="detail-content">
      <div class="cafe-div">
        <span class="card-title">{{ cafes.name }}</span>
        <p>Location: {{ cafes.location }}</p>
        <p>Review: {{ cafes.review }}</p>
        <p>Note: {{ cafes.note }}</p>
        <a href="https://www.google.com/maps/search/{{ cafes.name }} " target="_blank"><button class="button-31" id="detail-button">Map</button></a>

      </div>
      <div class="detail-action">
        <button id="detail-button" class="button-31">
          <a href="{% url 'cafes_update' cafes.id %}">Edit</a>
        </button>
        <button id="detail-button" class="button-31">
          <a href="{% url 'cafes_delete' cafes.id %}">Delete</a>
        </button>
        <button id="detail-button" class="button-31">
          <a href="/cafes/">Return</a>
        </button>
      </div>
    </div>
  </div>
</div>

{% endblock %}
